# Limpieza & Set Up de BBDD

### Realizaremos algunas customizaciones sobre la base con el fin de optimizar el trabajo de aqui en adelante:

    1. Cambiar los títulos de las columnas a mayúsculas
    2. Agregar la leyenda del índice
    3. Limpiar los NaN por ' '
    4. Creación de columna "DAY_OF_THE_WEEK"
    5. Conversion de tipo de datos de las columnas Date & AvgTalkDuration
    6. Todos los campos vacios o NaN en la columna AvgTalkDuration se reemplazan con 00:00:00 y se cambia el tipo

# hacer un .info para ver si hay nulos
#### tengo que hacer esto para encontrar los nan df[df.inclement_weather.isna()].shape[0]
#### comprobar si tengo infinitos df[df.SNWD.isin([-np.inf, np.inf])].shape[0]
#### analizar si hay duplicados df[df.duplicated()].shape[0]
#### df[df.duplicated()].shape[0]
#### para mi columna avg tengo que hacer df.describe(include='object')
#### df_deduped.dropna(how='all').shape
#### puedo hacer para eliminar los nulos en algunas columnas df_deduped.dropna(how='all', subset=['inclement_weather', 'SNOW', 'SNWD']).shape 
#### hacer comentarios de por que hacemos los cambios 
#### analizar si hay datos absurdos
#### si completo un na tengo que justificar por que lo reemplazo y por que lo hago con el valor determinado

# importación de librerias

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn

In [2]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel)
bbdd

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

#     1. Cambiar los títulos de las columnas a mayúsculas 
#     2. Agregar la leyenda del índice

In [3]:
bbdd.columns = bbdd.columns.str.upper()
bbdd
bbdd.index.name = 'INDEX'
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
INDEX,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

   # 3. Limpiar los NaN por ' '

In [5]:
bbdd.fillna(' ', inplace = True)

C:\Users\Lucia\AppData\Local\Temp\ipykernel_18424\3066850627.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value ' ' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  bbdd.fillna(' ', inplace = True)

#     4. Creación de columna "DAY_OF_THE_WEEK"

In [6]:
bbdd['DAY_OF_THE_WEEK'] = pd.to_datetime(bbdd['DATE']).dt.day_name()
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0,Friday
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0,Friday
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0,Friday
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0,Friday
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,,,,Wednesday
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,,,,Wednesday
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,,,,Wednesday
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,,,,Wednesday
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,,,,Wednesday

In [7]:
bbdd['DAY_OF_THE_WEEK'].unique()

array(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday'], dtype=object)

#     5. Conversion de tipo de datos de la columna Date

In [8]:
bbdd['DATE'] = pd.to_datetime(bbdd['DATE'])

In [9]:
bbdd.dtypes

CALL ID                               object
AGENT                                 object
DATE                          datetime64[ns]
TIME                                  object
TOPIC                                 object
ANSWERED (Y/N)                        object
RESOLVED                              object
SPEED OF ANSWER IN SECONDS            object
AVGTALKDURATION                       object
SATISFACTION RATING                   object
DAY_OF_THE_WEEK                       object
dtype: object

#     5. Conversion de tipo de datos de la columna AvgTalkDuration

In [11]:
bbdd['AVGTALKDURATION'].replace(' ', '00:00:00', inplace=True)

In [21]:
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].astype(str)

# Convierte la columna AVGTALKDURATION a formato de tiempo
#bbdd['AVGTALKDURATION'] = pd.to_timedelta(bbdd['AVGTALKDURATION'])

# Extrae los minutos y segundos
#bbdd['AVG_MINUTES'] = bbdd['AVGTALKDURATION'].dt.total_seconds() // 60
#bbdd['AVG_SECONDS'] = bbdd['AVGTALKDURATION'].dt.total_seconds() % 60

# Muestra el resultado
#print(bbdd[['AVGTALKDURATION', 'AVG_MINUTES', 'AVG_SECONDS']])

In [22]:

bbdd['AVGTALKDURATION'] = pd.to_timedelta(bbdd['AVGTALKDURATION'])
 #Convierte la duración a minutos
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].dt.total_seconds() / 60

In [32]:
# Convierte la columna AVGTALKDURATION a formato de tiempo
bbdd['AVGTALKDURATION'] = pd.to_timedelta(bbdd['AVGTALKDURATION'], unit='m')  # Especifica la unidad de tiempo en minutos

# Muestra el resultado
print(bbdd)

      CALL ID    AGENT       DATE      TIME              TOPIC ANSWERED (Y/N)  \
INDEX
0      ID0033    Diane 2021-01-01  13:33:36  Technical Support              Y
1      ID0056      Dan 2021-01-01  17:44:10          Streaming              Y
2      ID0039  Stewart 2021-01-01  14:38:24   Contract related              Y
3      ID0009     Greg 2021-01-01  11:13:55      Admin Support              Y
4      ID0043    Diane 2021-01-01  14:47:02  Technical Support              Y
...       ...      ...        ...       ...                ...            ...
4995   ID4992      Joe 2021-03-31  14:13:55          Streaming              N
4996   ID4993      Joe 2021-03-31  14:18:14      Admin Support              N
4997   ID4994     Greg 2021-03-31  14:58:34   Contract related              N
4998   ID4995      Dan 2021-03-31  15:33:07    Payment related              N
4999   ID5000    Diane 2021-03-31  17:39:50   Contract related              N

      RESOLVED SPEED OF ANSWER IN SECONDS        AVGTALKDURATION  \
INDEX
0            Y                       57.0 0 days 00:06:49.200000
1            Y                       83.0        0 days 00:06:45
2            Y                       74.0 0 days 00:06:40.800000
3            Y                       15.0 0 days 00:06:37.800000
4            Y                       45.0        0 days 00:06:21
...        ...                        ...                    ...
4995         N                                   0 days 00:00:00
4996         N                                   0 days 00:00:00
4997         N                                   0 days 00:00:00
4998         N                                   0 days 00:00:00
4999         N                                   0 days 00:00:00

      SATISFACTION RATING DAY_OF_THE_WEEK
INDEX
0                     3.0          Friday
1                     4.0          Friday
2                     1.0          Friday
3                     4.0          Friday
4                     3.0          Friday
...                   ...             ...
4995                            Wednesday
4996                            Wednesday
4997                            Wednesday
4998                            Wednesday
4999                            Wednesday

[5000 rows x 11 columns]

In [43]:
# Convierte la columna AVGTALKDURATION a cadena de texto y elimina los "0 days"
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].astype(str).apply(lambda x: x[10:] if 'days' in x else x)

# Muestra el resultado
print(bbdd)

      CALL ID    AGENT       DATE      TIME              TOPIC ANSWERED (Y/N)  \
INDEX
0      ID0033    Diane 2021-01-01  13:33:36  Technical Support              Y
1      ID0056      Dan 2021-01-01  17:44:10          Streaming              Y
2      ID0039  Stewart 2021-01-01  14:38:24   Contract related              Y
3      ID0009     Greg 2021-01-01  11:13:55      Admin Support              Y
4      ID0043    Diane 2021-01-01  14:47:02  Technical Support              Y
...       ...      ...        ...       ...                ...            ...
4995   ID4992      Joe 2021-03-31  14:13:55          Streaming              N
4996   ID4993      Joe 2021-03-31  14:18:14      Admin Support              N
4997   ID4994     Greg 2021-03-31  14:58:34   Contract related              N
4998   ID4995      Dan 2021-03-31  15:33:07    Payment related              N
4999   ID5000    Diane 2021-03-31  17:39:50   Contract related              N

      RESOLVED SPEED OF ANSWER IN SECONDS AVGTALKDURATION SATISFACTION RATING  \
INDEX
0            Y                       57.0    06:49.200000                 3.0
1            Y                       83.0           06:45                 4.0
2            Y                       74.0    06:40.800000                 1.0
3            Y                       15.0    06:37.800000                 4.0
4            Y                       45.0           06:21                 3.0
...        ...                        ...             ...                 ...
4995         N                                      00:00
4996         N                                      00:00
4997         N                                      00:00
4998         N                                      00:00
4999         N                                      00:00

      DAY_OF_THE_WEEK
INDEX
0              Friday
1              Friday
2              Friday
3              Friday
4              Friday
...               ...
4995        Wednesday
4996        Wednesday
4997        Wednesday
4998        Wednesday
4999        Wednesday

[5000 rows x 11 columns]