# Limpieza & Set Up de BBDD

### Realizaremos algunas customizaciones sobre la base con el fin de optimizar el trabajo de aqui en adelante:


    1.  Cambiar los títulos de las columnas a mayúsculas
    2.  Agregar la leyenda del índice
    3.  Conversión de columnas, Time & AvgTalkDuration
    4.  Crear  columna "DAY_OF_THE_WEEK"
    5.  Limpiar & imputar los NaN 
    6.  Verificar que no existen nulo en la Base de Datos
    7.  Verificar que no existan duplicados
    8.  Verificar que no existan absurdos
    9. Ordenar las columnas
    10. Guardar un CSV con la base de datos limpia y seteada para iniciar nuestro analisis




#### para mi columna avg tengo que hacer df.describe(include='object')

#### si completo un na tengo que justificar por que lo reemplazo y por que lo hago con el valor determinado
#### importar todas las librerias de visualización y graficos

# importación de librerias

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Lectura de mi base de datos en  bruto

In [2]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel, parse_dates=['Date'], dtype={'Speed of answer in seconds': float, 'Satisfaction rating': float})
bbdd

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

In [3]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   datetime64[ns]
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 390.8+ KB

#     1. Cambiar los títulos de las columnas a mayúsculas 
#     2. Agregar la leyenda del índice
###      Para trabajar de una manera mas ordenada se decide insertar un indice al cual se puede llamar en el futuro

In [6]:
bbdd.columns = bbdd.columns.str.upper()
bbdd
bbdd.index.name = 'INDEX'

# 3.Conversión de columnas, Time & AvgTalkDuration

### La comuna 'Time' se modificara como tipo de dato datetime manteniendo el mismo formato.
### La columna 'AvgTalkDuration' se modificara como tipo de dato datetime con el formato dias, horas, minutos y segundos.

In [21]:
bbdd['TIME'] = pd.to_datetime(bbdd['TIME'].dt.strftime('%H:%M:%S'))
bbdd

C:\Users\Lucia\AppData\Local\Temp\ipykernel_4152\3205206502.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  bbdd['TIME'] = pd.to_datetime(bbdd['TIME'].dt.strftime('%H:%M:%S'))

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
INDEX,,,,,,,,,,
0,ID0033,Diane,2021-01-01,2023-11-27 13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,2023-11-27 17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,2023-11-27 14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,2023-11-27 11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,2023-11-27 14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,2023-11-27 14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,2023-11-27 14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,2023-11-27 14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,2023-11-27 15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,2023-11-27 17:39:50,Contract related,N,N,NaN,NaN,NaN

In [24]:
import pandas as pd
from datetime import datetime, timedelta

bbdd['AVGTALKDURATION'].fillna('00:00:00', inplace=True)

bbdd['AVGTALKDURATION'] = pd.to_datetime(bbdd['AVGTALKDURATION'], format='%H:%M:%S').dt.time


bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].apply(lambda x: timedelta(hours=x.hour, minutes=x.minute, seconds=x.second))

In [29]:
bbdd['AVGTALKDURATION'] = bbdd['AVGTALKDURATION'].replace({'00:00:00': pd.Timedelta(0)})

In [32]:
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
INDEX,,,,,,,,,,
0,ID0033,Diane,2021-01-01,2023-11-27 13:33:36,Technical Support,Y,Y,57.0,0 days 00:06:49,3.0
1,ID0056,Dan,2021-01-01,2023-11-27 17:44:10,Streaming,Y,Y,83.0,0 days 00:06:45,4.0
2,ID0039,Stewart,2021-01-01,2023-11-27 14:38:24,Contract related,Y,Y,74.0,0 days 00:06:41,1.0
3,ID0009,Greg,2021-01-01,2023-11-27 11:13:55,Admin Support,Y,Y,15.0,0 days 00:06:38,4.0
4,ID0043,Diane,2021-01-01,2023-11-27 14:47:02,Technical Support,Y,Y,45.0,0 days 00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,2023-11-27 14:13:55,Streaming,N,N,NaN,0 days 00:00:00,NaN
4996,ID4993,Joe,2021-03-31,2023-11-27 14:18:14,Admin Support,N,N,NaN,0 days 00:00:00,NaN
4997,ID4994,Greg,2021-03-31,2023-11-27 14:58:34,Contract related,N,N,NaN,0 days 00:00:00,NaN
4998,ID4995,Dan,2021-03-31,2023-11-27 15:33:07,Payment related,N,N,NaN,0 days 00:00:00,NaN
4999,ID5000,Diane,2021-03-31,2023-11-27 17:39:50,Contract related,N,N,NaN,0 days 00:00:00,NaN

In [31]:
bbdd['AVGTALKDURATION'].mean()

Timedelta('0 days 00:03:02.367400')

In [5]:
 pd.pivot_table(bbdd, values=['AVGTALKDURATION'], index=['ANSWERED (Y/N)'], aggfunc={'AVGTALKDURATION': 'count'})

                AVGTALKDURATION
ANSWERED (Y/N)
N                             0
Y                          4054

 ###  Una vez corroboado, se decide limipiar los Nan dado que unicamente figuraban por la falta del dato, podemos observar que la falta del dato es por que la interación no se concreta.

#     4. Creación de columna "DAY_OF_THE_WEEK"
###      Se decide crear esta columna para visualizar de una manera mas simple los días en que la empresa brinda servivio.

In [33]:
bbdd['DAY_OF_THE_WEEK'] = pd.to_datetime(bbdd['DATE']).dt.day_name()
bbdd

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,ID0033,Diane,2021-01-01,2023-11-27 13:33:36,Technical Support,Y,Y,57.0,0 days 00:06:49,3.0,Friday
1,ID0056,Dan,2021-01-01,2023-11-27 17:44:10,Streaming,Y,Y,83.0,0 days 00:06:45,4.0,Friday
2,ID0039,Stewart,2021-01-01,2023-11-27 14:38:24,Contract related,Y,Y,74.0,0 days 00:06:41,1.0,Friday
3,ID0009,Greg,2021-01-01,2023-11-27 11:13:55,Admin Support,Y,Y,15.0,0 days 00:06:38,4.0,Friday
4,ID0043,Diane,2021-01-01,2023-11-27 14:47:02,Technical Support,Y,Y,45.0,0 days 00:06:21,3.0,Friday
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,2023-11-27 14:13:55,Streaming,N,N,NaN,0 days 00:00:00,NaN,Wednesday
4996,ID4993,Joe,2021-03-31,2023-11-27 14:18:14,Admin Support,N,N,NaN,0 days 00:00:00,NaN,Wednesday
4997,ID4994,Greg,2021-03-31,2023-11-27 14:58:34,Contract related,N,N,NaN,0 days 00:00:00,NaN,Wednesday
4998,ID4995,Dan,2021-03-31,2023-11-27 15:33:07,Payment related,N,N,NaN,0 days 00:00:00,NaN,Wednesday
4999,ID5000,Diane,2021-03-31,2023-11-27 17:39:50,Contract related,N,N,NaN,0 days 00:00:00,NaN,Wednesday

##### Podemos inferir que se brinda servicio los 7 días de la semana

In [34]:
pd.pivot_table(bbdd, values=['CALL ID', 'AGENT', 'DATE', 'TIME', 'TOPIC', 'ANSWERED (Y/N)', 'RESOLVED', 'SPEED OF ANSWER IN SECONDS', 'AVGTALKDURATION', 'SATISFACTION RATING'], index='DAY_OF_THE_WEEK', aggfunc='first')

,AGENT,ANSWERED (Y/N),AVGTALKDURATION,CALL ID,DATE,RESOLVED,SATISFACTION RATING,SPEED OF ANSWER IN SECONDS,TIME,TOPIC
DAY_OF_THE_WEEK,,,,,,,,,,
Friday,Diane,Y,0 days 00:06:49,ID0033,2021-01-01,Y,3.0,57.0,2023-11-27 13:33:36,Technical Support
Monday,Stewart,Y,0 days 00:06:50,ID0219,2021-01-04,Y,5.0,120.0,2023-11-27 15:48:58,Admin Support
Saturday,Greg,Y,0 days 00:06:56,ID0082,2021-01-02,Y,4.0,52.0,2023-11-27 12:00:00,Payment related
Sunday,Martha,Y,0 days 00:06:59,ID0153,2021-01-03,N,4.0,52.0,2023-11-27 12:54:43,Payment related
Thursday,Stewart,Y,0 days 00:06:50,ID0362,2021-01-07,Y,3.0,66.0,2023-11-27 11:42:43,Technical Support
Tuesday,Diane,Y,0 days 00:06:48,ID0264,2021-01-05,Y,3.0,72.0,2023-11-27 15:31:41,Streaming
Wednesday,Stewart,Y,0 days 00:06:54,ID0336,2021-01-06,Y,5.0,37.0,2023-11-27 17:00:58,Contract related

In [35]:
bbdd['DAY_OF_THE_WEEK'].unique()

array(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday'], dtype=object)

#     5.  Limpiar & imputar los NaN

# 7 Verificación de Nulos en la Base de Datos

In [17]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALL ID                     5000 non-null   object
 1   AGENT                       5000 non-null   object
 2   DATE                        5000 non-null   datetime64[ns]
 3   TIME                        5000 non-null   object
 4   TOPIC                       5000 non-null   object
 5   ANSWERED (Y/N)              5000 non-null   object
 6   RESOLVED                    5000 non-null   object
 7   SPEED OF ANSWER IN SECONDS  5000 non-null   object
 8   AVGTALKDURATION             5000 non-null   timedelta64[ns]
 9   SATISFACTION RATING         5000 non-null   object
 10  DAY_OF_THE_WEEK             5000 non-null   object
dtypes: datetime64[ns](1), object(9), timedelta64[ns](1)
memory usage: 429.8+ KB

#### Verificación de Nulos y NaN

In [36]:
bbdd.isna()

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,True,False,True,False
4996,False,False,False,False,False,False,False,True,False,True,False
4997,False,False,False,False,False,False,False,True,False,True,False
4998,False,False,False,False,False,False,False,True,False,True,False
4999,False,False,False,False,False,False,False,True,False,True,False

In [19]:
bbdd.isnull()

,CALL ID,AGENT,DATE,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING,DAY_OF_THE_WEEK
INDEX,,,,,,,,,,,
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
4995,False,False,False,False,False,False,False,False,False,False,False
4996,False,False,False,False,False,False,False,False,False,False,False
4997,False,False,False,False,False,False,False,False,False,False,False
4998,False,False,False,False,False,False,False,False,False,False,False
4999,False,False,False,False,False,False,False,False,False,False,False

inicialmente corroboramos si hay algun duplicado a nivel de la base en general y luego ponemos foco en la columna CALL ID (es la unica que no deberia tener duplicados)

# 8 Verificación de duplicados

In [20]:
bbdd[bbdd.duplicated()].shape[0]

0

In [21]:
bbdd[bbdd['CALL ID'].duplicated()].shape[0]

0

# 9 Verificación de absurdos
### Recurimos a analizar los valores unicos de cada columna con el fin de visualizar si algun dato fuera absurdo

Verificar que no existan absurdos con mayores de  XX

In [22]:
def valores_unicos(bbdd):
    detalle = {}
    for columna in bbdd.columns:
        valores_unicos = bbdd[columna].unique()
        detalle[columna] = valores_unicos
    return detalle

In [23]:
detalle_de_valores_unicos = valores_unicos(bbdd)
detalle_de_valores_unicos

{'CALL ID': array(['ID0033', 'ID0056', 'ID0039', ..., 'ID4994', 'ID4995', 'ID5000'],
       dtype=object),
 'AGENT': array(['Diane', 'Dan', 'Stewart', 'Greg', 'Martha', 'Becky', 'Joe', 'Jim'],
       dtype=object),
 'DATE': <DatetimeArray>
 ['2021-01-01 00:00:00', '2021-01-02 00:00:00', '2021-01-03 00:00:00',
  '2021-01-04 00:00:00', '2021-01-05 00:00:00', '2021-01-06 00:00:00',
  '2021-01-07 00:00:00', '2021-01-08 00:00:00', '2021-01-09 00:00:00',
  '2021-01-10 00:00:00', '2021-01-11 00:00:00', '2021-01-12 00:00:00',
  '2021-01-13 00:00:00', '2021-01-14 00:00:00', '2021-01-15 00:00:00',
  '2021-01-16 00:00:00', '2021-01-17 00:00:00', '2021-01-18 00:00:00',
  '2021-01-19 00:00:00', '2021-01-20 00:00:00', '2021-01-21 00:00:00',
  '2021-01-22 00:00:00', '2021-01-23 00:00:00', '2021-01-24 00:00:00',
  '2021-01-25 00:00:00', '2021-01-26 00:00:00', '2021-01-27 00:00:00',
  '2021-01-28 00:00:00', '2021-01-29 00:00:00', '2021-01-30 00:00:00',
  '2021-01-31 00:00:00', '2021-02-01 00:00:00', '2021-02-02 00:00:00',
  '2021-02-03 00:00:00', '2021-02-04 00:00:00', '2021-02-05 00:00:00',
  '2021-02-06 00:00:00', '2021-02-07 00:00:00', '2021-02-08 00:00:00',
  '2021-02-09 00:00:00', '2021-02-10 00:00:00', '2021-02-11 00:00:00',
  '2021-02-12 00:00:00', '2021-02-13 00:00:00', '2021-02-14 00:00:00',
  '2021-02-15 00:00:00', '2021-02-16 00:00:00', '2021-02-17 00:00:00',
  '2021-02-18 00:00:00', '2021-02-19 00:00:00', '2021-02-20 00:00:00',
  '2021-02-21 00:00:00', '2021-02-22 00:00:00', '2021-02-23 00:00:00',
  '2021-02-24 00:00:00', '2021-02-25 00:00:00', '2021-02-26 00:00:00',
  '2021-02-27 00:00:00', '2021-02-28 00:00:00', '2021-03-01 00:00:00',
  '2021-03-02 00:00:00', '2021-03-03 00:00:00', '2021-03-04 00:00:00',
  '2021-03-05 00:00:00', '2021-03-06 00:00:00', '2021-03-07 00:00:00',
  '2021-03-08 00:00:00', '2021-03-09 00:00:00', '2021-03-10 00:00:00',
  '2021-03-11 00:00:00', '2021-03-12 00:00:00', '2021-03-13 00:00:00',
  '2021-03-14 00:00:00', '2021-03-15 00:00:00', '2021-03-16 00:00:00',
  '2021-03-17 00:00:00', '2021-03-18 00:00:00', '2021-03-19 00:00:00',
  '2021-03-20 00:00:00', '2021-03-21 00:00:00', '2021-03-22 00:00:00',
  '2021-03-23 00:00:00', '2021-03-24 00:00:00', '2021-03-25 00:00:00',
  '2021-03-26 00:00:00', '2021-03-27 00:00:00', '2021-03-28 00:00:00',
  '2021-03-29 00:00:00', '2021-03-30 00:00:00', '2021-03-31 00:00:00']
 Length: 90, dtype: datetime64[ns],
 'TIME': array([datetime.time(13, 33, 36), datetime.time(17, 44, 10),
        datetime.time(14, 38, 24), datetime.time(11, 13, 55),
        datetime.time(14, 47, 2), datetime.time(12, 40, 19),
        datetime.time(12, 2, 53), datetime.time(11, 52, 48),
        datetime.time(11, 57, 7), datetime.time(11, 55, 41),
        datetime.time(15, 44, 38), datetime.time(13, 24, 58),
        datetime.time(12, 30, 14), datetime.time(9, 12, 58),
        datetime.time(10, 22, 5), datetime.time(17, 25, 26),
        datetime.time(17, 57, 7), datetime.time(17, 36, 58),
        datetime.time(12, 1, 26), datetime.time(17, 13, 55),
        datetime.time(9, 47, 31), datetime.time(13, 42, 14),
        datetime.time(10, 0, 29), datetime.time(11, 15, 22),
        datetime.time(17, 35, 31), datetime.time(12, 0),
        datetime.time(9, 20, 10), datetime.time(11, 47, 2),
        datetime.time(13, 20, 38), datetime.time(13, 49, 26),
        datetime.time(9, 38, 53), datetime.time(9, 18, 43),
        datetime.time(15, 10, 5), datetime.time(15, 36),
        datetime.time(9, 5, 46), datetime.time(12, 20, 10),
        datetime.time(11, 8, 10), datetime.time(10, 4, 48),
        datetime.time(13, 3, 22), datetime.time(13, 45, 7),
        datetime.time(17, 47, 2), datetime.time(13, 53, 46),
        datetime.time(11, 26, 53), datetime.time(11, 54, 14),
        datetime.time(10, 33, 36), datetime.time(12, 41, 46),
        datetime.time(13, 13, 26), datetime.time(12, 59, 2),
        datetime.time(13, 4, 48), datetime.time(14, 52, 48),
        datetime.time(14, 22, 34), datetime.time(11, 42, 43),
        datetime.time(12, 44, 38), datetime.time(12, 54, 43),
        datetime.time(11, 16, 48), datetime.time(12, 33, 7),
        datetime.time(17, 31, 12), datetime.time(11, 3, 50),
        datetime.time(10, 52, 19), datetime.time(10, 58, 5),
        datetime.time(10, 37, 55), datetime.time(13, 27, 50),
        datetime.time(15, 34, 34), datetime.time(13, 12),
        datetime.time(11, 58, 34), datetime.time(13, 14, 53),
        datetime.time(10, 29, 17), datetime.time(13, 58, 5),
        datetime.time(11, 6, 43), datetime.time(11, 38, 24),
        datetime.time(9, 10, 5), datetime.time(13, 35, 2),
        datetime.time(16, 29, 17), datetime.time(14, 3, 50),
        datetime.time(11, 2, 24), datetime.time(15, 48, 58),
        datetime.time(11, 22, 34), datetime.time(12, 15, 50),
        datetime.time(9, 1, 26), datetime.time(11, 18, 14),
        datetime.time(16, 49, 26), datetime.time(14, 31, 12),
        datetime.time(10, 3, 22), datetime.time(11, 32, 38),
        datetime.time(14, 28, 19), datetime.time(13, 56, 38),
        datetime.time(10, 27, 50), datetime.time(11, 9, 36),
        datetime.time(15, 23, 2), datetime.time(14, 25, 26),
        datetime.time(17, 39, 50), datetime.time(16, 48),
        datetime.time(13, 32, 10), datetime.time(14, 49, 55),
        datetime.time(9, 43, 12), datetime.time(9, 31, 41),
        datetime.time(15, 31, 41), datetime.time(17, 38, 24),
        datetime.time(16, 6, 14), datetime.time(10, 49, 26),
        datetime.time(16, 27, 50), datetime.time(12, 12, 58),
        datetime.time(15, 20, 10), datetime.time(15, 18, 43),
        datetime.time(13, 59, 31), datetime.time(16, 16, 19),
        datetime.time(11, 41, 17), datetime.time(11, 31, 12),
        datetime.time(9, 25, 55), datetime.time(11, 49, 55),
        datetime.time(17, 29, 46), datetime.time(14, 42, 43),
        datetime.time(9, 8, 38), datetime.time(15, 37, 26),
        datetime.time(9, 33, 7), datetime.time(17, 0, 58),
        datetime.time(15, 12, 58), datetime.time(10, 6, 14),
        datetime.time(12, 7, 12), datetime.time(10, 7, 41),
        datetime.time(12, 5, 46), datetime.time(14, 13, 55),
        datetime.time(13, 30, 43), datetime.time(14, 32, 38),
        datetime.time(10, 32, 10), datetime.time(14, 57, 7),
        datetime.time(10, 42, 14), datetime.time(16, 17, 46),
        datetime.time(11, 29, 46), datetime.time(15, 2, 53),
        datetime.time(16, 39, 22), datetime.time(11, 12, 29),
        datetime.time(17, 21, 7), datetime.time(11, 45, 36),
        datetime.time(17, 22, 34), datetime.time(17, 19, 41),
        datetime.time(16, 22, 5), datetime.time(17, 24),
        datetime.time(16, 35, 2), datetime.time(17, 3, 50),
        datetime.time(16, 7, 41), datetime.time(17, 55, 41),
        datetime.time(11, 36, 58), datetime.time(9, 4, 19),
        datetime.time(15, 53, 17), datetime.time(12, 48, 58),
        datetime.time(10, 23, 31), datetime.time(10, 14, 53),
        datetime.time(16, 40, 48), datetime.time(17, 48, 29),
        datetime.time(12, 8, 38), datetime.time(13, 26, 24),
        datetime.time(12, 36), datetime.time(10, 48),
        datetime.time(9, 7, 12), datetime.time(12, 14, 24),
        datetime.time(13, 17, 46), datetime.time(11, 0, 58),
        datetime.time(13, 10, 34), datetime.time(13, 43, 41),
        datetime.time(16, 37, 55), datetime.time(18, 0),
        datetime.time(9, 24, 29), datetime.time(9, 0),
        datetime.time(15, 43, 12), datetime.time(12, 38, 53),
        datetime.time(15, 54, 43), datetime.time(9, 59, 2),
        datetime.time(9, 34, 34), datetime.time(11, 48, 29),
        datetime.time(11, 5, 17), datetime.time(14, 51, 22),
        datetime.time(13, 39, 22), datetime.time(14, 12, 29),
        datetime.time(12, 31, 41), datetime.time(17, 42, 43),
        datetime.time(11, 11, 2), datetime.time(17, 32, 38),
        datetime.time(14, 19, 41), datetime.time(17, 5, 17),
        datetime.time(12, 50, 24), datetime.time(11, 25, 26),
        datetime.time(16, 58, 5), datetime.time(17, 28, 19),
        datetime.time(14, 16, 48), datetime.time(16, 42, 14),
        datetime.time(10, 35, 2), datetime.time(12, 56, 10),
        datetime.time(13, 48), datetime.time(13, 52, 19),
        datetime.time(14, 9, 36), datetime.time(14, 58, 34),
        datetime.time(12, 27, 22), datetime.time(16, 0, 29),
        datetime.time(15, 56, 10), datetime.time(12, 24, 29),
        datetime.time(10, 26, 24), datetime.time(12, 10, 5),
        datetime.time(13, 55, 12), datetime.time(12, 43, 12),
        datetime.time(17, 41, 17), datetime.time(9, 30, 14),
        datetime.time(13, 19, 12), datetime.time(11, 28, 19),
        datetime.time(17, 6, 43), datetime.time(15, 59, 2),
        datetime.time(14, 24), datetime.time(10, 13, 26),
        datetime.time(9, 48, 58), datetime.time(12, 57, 36),
        datetime.time(10, 20, 38), datetime.time(9, 37, 26),
        datetime.time(17, 49, 55), datetime.time(16, 43, 41),
        datetime.time(14, 26, 53), datetime.time(12, 4, 19),
        datetime.time(9, 57, 36), datetime.time(15, 8, 38),
        datetime.time(15, 47, 31), datetime.time(10, 16, 19),
        datetime.time(10, 39, 22), datetime.time(9, 51, 50),
        datetime.time(16, 46, 34), datetime.time(13, 37, 55),
        datetime.time(16, 50, 53), datetime.time(10, 12),
        datetime.time(16, 52, 19), datetime.time(15, 51, 50),
        datetime.time(16, 45, 7), datetime.time(16, 12),
        datetime.time(9, 46, 5), datetime.time(14, 2, 24),
        datetime.time(15, 27, 22), datetime.time(9, 21, 36),
        datetime.time(12, 37, 26), datetime.time(15, 40, 19),
        datetime.time(17, 58, 34), datetime.time(15, 14, 24),
        datetime.time(9, 56, 10), datetime.time(14, 48, 29),
        datetime.time(9, 44, 38), datetime.time(10, 53, 46),
        datetime.time(12, 11, 31), datetime.time(13, 1, 55),
        datetime.time(9, 2, 53), datetime.time(11, 19, 41),
        datetime.time(9, 17, 17), datetime.time(9, 14, 24),
        datetime.time(11, 35, 31), datetime.time(10, 1, 55),
        datetime.time(10, 56, 38), datetime.time(9, 40, 19),
        datetime.time(15, 30, 14), datetime.time(15, 46, 5),
        datetime.time(9, 50, 24), datetime.time(13, 46, 34),
        datetime.time(14, 8, 10), datetime.time(15, 21, 36),
        datetime.time(15, 1, 26), datetime.time(13, 36, 29),
        datetime.time(10, 30, 43), datetime.time(16, 36, 29),
        datetime.time(12, 28, 48), datetime.time(15, 24, 29),
        datetime.time(14, 11, 2), datetime.time(14, 39, 50),
        datetime.time(15, 0), datetime.time(16, 24, 58),
        datetime.time(17, 54, 14), datetime.time(14, 0, 58),
        datetime.time(17, 16, 48), datetime.time(13, 29, 17),
        datetime.time(14, 18, 14), datetime.time(9, 36),
        datetime.time(17, 26, 53), datetime.time(17, 18, 14),
        datetime.time(11, 51, 22), datetime.time(15, 50, 24),
        datetime.time(12, 34, 34), datetime.time(11, 44, 10),
        datetime.time(16, 56, 38), datetime.time(17, 15, 22),
        datetime.time(16, 9, 7), datetime.time(10, 19, 12),
        datetime.time(9, 15, 50), datetime.time(13, 22, 5),
        datetime.time(16, 20, 38), datetime.time(13, 0, 29),
        datetime.time(11, 24), datetime.time(10, 24, 58),
        datetime.time(17, 11, 2), datetime.time(16, 3, 22),
        datetime.time(10, 59, 31), datetime.time(11, 39, 50),
        datetime.time(9, 11, 31), datetime.time(14, 44, 10),
        datetime.time(16, 1, 55), datetime.time(12, 47, 31),
        datetime.time(16, 13, 26), datetime.time(12, 25, 55),
        datetime.time(9, 54, 43), datetime.time(14, 15, 22),
        datetime.time(12, 21, 36), datetime.time(14, 45, 36),
        datetime.time(12, 53, 17), datetime.time(14, 34, 5),
        datetime.time(12, 18, 43), datetime.time(10, 10, 34),
        datetime.time(15, 4, 19), datetime.time(15, 5, 46),
        datetime.time(17, 52, 48), datetime.time(10, 50, 53),
        datetime.time(10, 40, 48), datetime.time(15, 15, 50),
        datetime.time(9, 41, 46), datetime.time(15, 25, 55),
        datetime.time(15, 28, 48), datetime.time(14, 54, 14),
        datetime.time(10, 43, 41), datetime.time(17, 12, 29),
        datetime.time(16, 10, 34), datetime.time(13, 9, 7),
        datetime.time(13, 7, 41), datetime.time(16, 19, 12),
        datetime.time(11, 21, 7), datetime.time(12, 46, 5),
        datetime.time(12, 51, 50), datetime.time(17, 9, 36),
        datetime.time(12, 17, 17), datetime.time(12, 23, 2),
        datetime.time(15, 38, 53), datetime.time(14, 36, 58),
        datetime.time(10, 9, 7), datetime.time(9, 53, 17),
        datetime.time(16, 32, 10), datetime.time(14, 5, 17),
        datetime.time(17, 34, 5), datetime.time(9, 27, 22),
        datetime.time(17, 8, 10), datetime.time(13, 50, 53),
        datetime.time(14, 35, 31), datetime.time(16, 14, 53),
        datetime.time(13, 23, 31), datetime.time(13, 6, 14),
        datetime.time(9, 28, 48), datetime.time(10, 45, 7),
        datetime.time(13, 40, 48), datetime.time(11, 34, 5),
        datetime.time(16, 4, 48), datetime.time(10, 17, 46),
        datetime.time(15, 41, 46), datetime.time(16, 55, 12),
        datetime.time(16, 23, 31), datetime.time(14, 55, 41),
        datetime.time(17, 2, 24), datetime.time(9, 23, 2),
        datetime.time(10, 46, 34), datetime.time(14, 21, 7),
        datetime.time(16, 30, 43), datetime.time(14, 29, 46),
        datetime.time(16, 26, 24), datetime.time(15, 11, 31),
        datetime.time(15, 57, 36), datetime.time(15, 33, 7),
        datetime.time(13, 16, 19), datetime.time(16, 53, 46),
        datetime.time(17, 45, 36), datetime.time(15, 7, 12),
        datetime.time(10, 36, 29), datetime.time(16, 59, 31),
        datetime.time(14, 6, 43), datetime.time(15, 17, 17),
        datetime.time(14, 41, 17), datetime.time(17, 51, 22),
        datetime.time(16, 33, 36)], dtype=object),
 'TOPIC': array(['Technical Support', 'Streaming', 'Contract related',
        'Admin Support', 'Payment related'], dtype=object),
 'ANSWERED (Y/N)': array(['Y', 'N'], dtype=object),
 'RESOLVED': array(['Y', 'N'], dtype=object),
 'SPEED OF ANSWER IN SECONDS': array([57.0, 83.0, 74.0, 15.0, 45.0, 107.0, 89.0, 63.0, 68.0, 25.0, 22.0,
        100.0, 97.0, 70.0, 39.0, 48.0, 24.0, 104.0, 84.0, 98.0, 51.0,
        119.0, 49.0, 101.0, 109.0, 10.0, 106.0, 27.0, 122.0, 53.0, 35.0,
        13.0, 20.0, 78.0, 95.0, 52.0, 50.0, ' ', 96.0, 33.0, 38.0, 90.0,
        17.0, 73.0, 65.0, 113.0, 55.0, 46.0, 79.0, 23.0, 121.0, 69.0, 32.0,
        58.0, 112.0, 56.0, 19.0, 120.0, 118.0, 125.0, 80.0, 43.0, 14.0,
        67.0, 124.0, 105.0, 99.0, 44.0, 86.0, 102.0, 88.0, 29.0, 31.0,
        117.0, 77.0, 123.0, 103.0, 42.0, 93.0, 110.0, 30.0, 26.0, 81.0,
        82.0, 92.0, 28.0, 75.0, 71.0, 72.0, 59.0, 62.0, 47.0, 94.0, 11.0,
        116.0, 60.0, 16.0, 36.0, 18.0, 37.0, 54.0, 108.0, 12.0, 115.0,
        66.0, 76.0, 40.0, 114.0, 85.0, 21.0, 87.0, 111.0, 41.0, 61.0, 34.0,
        64.0, 91.0], dtype=object),
 'AVGTALKDURATION': <TimedeltaArray>
 ['0 days 00:06:49', '0 days 00:06:45', '0 days 00:06:41', '0 days 00:06:38',
  '0 days 00:06:21', '0 days 00:05:55', '0 days 00:05:50', '0 days 00:05:44',
  '0 days 00:05:32', '0 days 00:05:26',
  ...
  '0 days 00:03:30', '0 days 00:01:54', '0 days 00:06:52', '0 days 00:02:53',
  '0 days 00:06:17', '0 days 00:02:12', '0 days 00:06:39', '0 days 00:06:26',
  '0 days 00:00:30', '0 days 00:04:56']
 Length: 392, dtype: timedelta64[ns],
 'SATISFACTION RATING': array([3.0, 4.0, 1.0, 5.0, 2.0, ' '], dtype=object),
 'DAY_OF_THE_WEEK': array(['Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
        'Thursday'], dtype=object)}

#### Analizamos absurdos en la columna TIME con el fin de visualizar si existe alguna llamada fuera del horario de atención

In [45]:
bbdd.index = pd.to_datetime(bbdd.index)

Absurdos_TIME = bbdd['TIME'].between_time('18:00:00', '23:59:00') | (bbdd['TIME'].between_time('00:00:00', '09:00:00'))
print(Absurdos_TIME)

INDEX
1970-01-01 00:00:00.000000000    False
1970-01-01 00:00:00.000000001    False
1970-01-01 00:00:00.000000002    False
1970-01-01 00:00:00.000000003    False
1970-01-01 00:00:00.000000004    False
                                 ...
1970-01-01 00:00:00.000004995    False
1970-01-01 00:00:00.000004996    False
1970-01-01 00:00:00.000004997    False
1970-01-01 00:00:00.000004998    False
1970-01-01 00:00:00.000004999    False
Name: TIME, Length: 5000, dtype: bool

In [46]:
bbdd.reset_index(drop=True, inplace=True)

In [47]:
bbdd

,CALL ID,AGENT,DATE,DAY_OF_THE_WEEK,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
0,ID0033,Diane,2021-01-01,Friday,13:33:36,Technical Support,Y,Y,57.0,0 days 00:06:49,3.0
1,ID0056,Dan,2021-01-01,Friday,17:44:10,Streaming,Y,Y,83.0,0 days 00:06:45,4.0
2,ID0039,Stewart,2021-01-01,Friday,14:38:24,Contract related,Y,Y,74.0,0 days 00:06:41,1.0
3,ID0009,Greg,2021-01-01,Friday,11:13:55,Admin Support,Y,Y,15.0,0 days 00:06:38,4.0
4,ID0043,Diane,2021-01-01,Friday,14:47:02,Technical Support,Y,Y,45.0,0 days 00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,Wednesday,14:13:55,Streaming,N,N,,0 days 00:00:00,
4996,ID4993,Joe,2021-03-31,Wednesday,14:18:14,Admin Support,N,N,,0 days 00:00:00,
4997,ID4994,Greg,2021-03-31,Wednesday,14:58:34,Contract related,N,N,,0 days 00:00:00,
4998,ID4995,Dan,2021-03-31,Wednesday,15:33:07,Payment related,N,N,,0 days 00:00:00,
4999,ID5000,Diane,2021-03-31,Wednesday,17:39:50,Contract related,N,N,,0 days 00:00:00,

## 10 Ordenamos las columnas par, con el fin de agilizar la visualización de a que dia corresponde la fecha

In [48]:
bbdd = bbdd[['CALL ID', 'AGENT', 'DATE','DAY_OF_THE_WEEK', 'TIME', 'TOPIC', 'ANSWERED (Y/N)',
       'RESOLVED', 'SPEED OF ANSWER IN SECONDS', 'AVGTALKDURATION',
       'SATISFACTION RATING']]

In [49]:
bbdd

,CALL ID,AGENT,DATE,DAY_OF_THE_WEEK,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
0,ID0033,Diane,2021-01-01,Friday,13:33:36,Technical Support,Y,Y,57.0,0 days 00:06:49,3.0
1,ID0056,Dan,2021-01-01,Friday,17:44:10,Streaming,Y,Y,83.0,0 days 00:06:45,4.0
2,ID0039,Stewart,2021-01-01,Friday,14:38:24,Contract related,Y,Y,74.0,0 days 00:06:41,1.0
3,ID0009,Greg,2021-01-01,Friday,11:13:55,Admin Support,Y,Y,15.0,0 days 00:06:38,4.0
4,ID0043,Diane,2021-01-01,Friday,14:47:02,Technical Support,Y,Y,45.0,0 days 00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,Wednesday,14:13:55,Streaming,N,N,,0 days 00:00:00,
4996,ID4993,Joe,2021-03-31,Wednesday,14:18:14,Admin Support,N,N,,0 days 00:00:00,
4997,ID4994,Greg,2021-03-31,Wednesday,14:58:34,Contract related,N,N,,0 days 00:00:00,
4998,ID4995,Dan,2021-03-31,Wednesday,15:33:07,Payment related,N,N,,0 days 00:00:00,
4999,ID5000,Diane,2021-03-31,Wednesday,17:39:50,Contract related,N,N,,0 days 00:00:00,

In [42]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5000 entries, 1970-01-01 00:00:00 to 1970-01-01 00:00:00.000004999
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CALL ID                     5000 non-null   object
 1   AGENT                       5000 non-null   object
 2   DATE                        5000 non-null   datetime64[ns]
 3   DAY_OF_THE_WEEK             5000 non-null   object
 4   TIME                        5000 non-null   object
 5   TOPIC                       5000 non-null   object
 6   ANSWERED (Y/N)              5000 non-null   object
 7   RESOLVED                    5000 non-null   object
 8   SPEED OF ANSWER IN SECONDS  5000 non-null   object
 9   AVGTALKDURATION             5000 non-null   timedelta64[ns]
 10  SATISFACTION RATING         5000 non-null   object
dtypes: datetime64[ns](1), object(9), timedelta64[ns](1)
memory usage: 468.8+ KB

##### 11 Se procede a guardar la base de datos depurada en un nuevo CSV con el fin de poder llamarla en nuestros futuros analisis y no tener que correr todos las customizaciones

In [50]:
bbdd.to_csv('telecom.csv', index=False)

In [32]:
rutatelecom = r"C:\Users\Lucia\Desktop\bootcamp\Proyecto_EDA_Pablo_Mendez\telecom.csv"
bbdd1 = pd.read_csv(rutatelecom)
bbdd1

,CALL ID,AGENT,DATE,DAY_OF_THE_WEEK,TIME,TOPIC,ANSWERED (Y/N),RESOLVED,SPEED OF ANSWER IN SECONDS,AVGTALKDURATION,SATISFACTION RATING
0,ID0033,Diane,2021-01-01,Friday,13:33:36,Technical Support,Y,Y,57.0,0 days 00:06:49,3.0
1,ID0056,Dan,2021-01-01,Friday,17:44:10,Streaming,Y,Y,83.0,0 days 00:06:45,4.0
2,ID0039,Stewart,2021-01-01,Friday,14:38:24,Contract related,Y,Y,74.0,0 days 00:06:41,1.0
3,ID0009,Greg,2021-01-01,Friday,11:13:55,Admin Support,Y,Y,15.0,0 days 00:06:38,4.0
4,ID0043,Diane,2021-01-01,Friday,14:47:02,Technical Support,Y,Y,45.0,0 days 00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,Wednesday,14:13:55,Streaming,N,N,,0 days 00:00:00,
4996,ID4993,Joe,2021-03-31,Wednesday,14:18:14,Admin Support,N,N,,0 days 00:00:00,
4997,ID4994,Greg,2021-03-31,Wednesday,14:58:34,Contract related,N,N,,0 days 00:00:00,
4998,ID4995,Dan,2021-03-31,Wednesday,15:33:07,Payment related,N,N,,0 days 00:00:00,
4999,ID5000,Diane,2021-03-31,Wednesday,17:39:50,Contract related,N,N,,0 days 00:00:00,