# Análisis exploratorio de datos

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn

In [2]:
rutaexcel = r"C:\\Users\\Lucia\Desktop\\bootcamp\\Proyecto_EDA_Pablo_Mendez\\Telecom Company Call-Center-Dataset.xlsx"
bbdd = pd.read_excel(rutaexcel)
bbdd

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
0,ID0033,Diane,2021-01-01,13:33:36,Technical Support,Y,Y,57.0,00:06:49,3.0
1,ID0056,Dan,2021-01-01,17:44:10,Streaming,Y,Y,83.0,00:06:45,4.0
2,ID0039,Stewart,2021-01-01,14:38:24,Contract related,Y,Y,74.0,00:06:41,1.0
3,ID0009,Greg,2021-01-01,11:13:55,Admin Support,Y,Y,15.0,00:06:38,4.0
4,ID0043,Diane,2021-01-01,14:47:02,Technical Support,Y,Y,45.0,00:06:21,3.0
...,...,...,...,...,...,...,...,...,...,...
4995,ID4992,Joe,2021-03-31,14:13:55,Streaming,N,N,NaN,NaN,NaN
4996,ID4993,Joe,2021-03-31,14:18:14,Admin Support,N,N,NaN,NaN,NaN
4997,ID4994,Greg,2021-03-31,14:58:34,Contract related,N,N,NaN,NaN,NaN
4998,ID4995,Dan,2021-03-31,15:33:07,Payment related,N,N,NaN,NaN,NaN
4999,ID5000,Diane,2021-03-31,17:39:50,Contract related,N,N,NaN,NaN,NaN

In [4]:
bbdd.columns

Index(['Call Id', 'Agent', 'Date', 'Time', 'Topic', 'Answered (Y/N)',
       'Resolved', 'Speed of answer in seconds', 'AvgTalkDuration',
       'Satisfaction rating'],
      dtype='object')

In [5]:
bbdd.shape

(5000, 10)

In [7]:
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Call Id                     5000 non-null   object
 1   Agent                       5000 non-null   object
 2   Date                        5000 non-null   object
 3   Time                        5000 non-null   object
 4   Topic                       5000 non-null   object
 5   Answered (Y/N)              5000 non-null   object
 6   Resolved                    5000 non-null   object
 7   Speed of answer in seconds  4054 non-null   float64
 8   AvgTalkDuration             4054 non-null   object
 9   Satisfaction rating         4054 non-null   float64
dtypes: float64(2), object(8)
memory usage: 390.8+ KB

In [8]:
bbdd.describe(include='all')

,Call Id,Agent,Date,Time,Topic,Answered (Y/N),Resolved,Speed of answer in seconds,AvgTalkDuration,Satisfaction rating
count,5000,5000,5000,5000,5000,5000,5000,4054.000000,4054,4054.000000
unique,5000,8,90,375,5,2,2,NaN,391,NaN
top,ID0033,Jim,2021-01-11,11:55:41,Streaming,Y,Y,NaN,00:04:43,NaN
freq,1,666,84,30,1022,4054,3646,NaN,22,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.520720,NaN,3.403552
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33.592872,NaN,1.212220
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,1.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39.000000,NaN,3.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68.000000,NaN,3.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,NaN,4.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.000000,NaN,5.000000

In [3]:
bbdd.describe()

       Speed of answer in seconds  Satisfaction rating
count                 4054.000000          4054.000000
mean                    67.520720             3.403552
std                     33.592872             1.212220
min                     10.000000             1.000000
25%                     39.000000             3.000000
50%                     68.000000             3.000000
75%                     97.000000             4.000000
max                    125.000000             5.000000

In [6]:
pd.get_option('display.max_columns')

20

In [12]:
bbdd['Agent'].unique()

array(['Diane', 'Dan', 'Stewart', 'Greg', 'Martha', 'Becky', 'Joe', 'Jim'],
      dtype=object)

In [13]:
bbdd['Agent'].value_counts()

Agent
Jim        666
Martha     638
Diane      633
Dan        633
Becky      631
Greg       624
Joe        593
Stewart    582
Name: count, dtype: int64